<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="post" action="{{ url_for('camera_link') }}">
    <input type="text" name="url">
    <button type="submit">ОК</button>
</form>
<img src="{{ url_for('stream_data') }}">
</body>
</html>